[Unit]
Description=Start the Event System Daemon
After=dbus.service

[Service]
User=app_fw
Group=app_fw
SmackProcessLabel=System
ExecStart=/usr/bin/esd
Restart=always
RestartSec=0

[Install]
WantedBy=default.target
